{% extends "base.html" %}

{% block content %}
  <h1>TODO LIST</h1>



  {% if task_list %}
    {% for task in task_list %}
      {{ task.content }}
      {% if task.is_done %}
        <span style="color: green;">Done</span>
{#        <form method="post" action="{% url 'task_toggle_status' pk=task.pk %}">#}
{#          {% csrf_token %}#}
{#          <input type="submit" value="Undo">#}
{#        </form>#}
      {% else %}
        <span style="color: red;">Not done</span>
{#        <form method="post" action="{% url 'task_toggle_status' pk=task.pk %}">#}
{#          {% csrf_token %}#}
{#          <input type="submit" value="Complete">#}
{#        </form>#}
      {% endif %}
      <br>
      Created: {{ task.created_datetime|date:"F j, Y, g:i a" }}
      {% if task.deadline_datetime %}
        Deadline: {{ task.deadline_datetime|date:"F j, Y, g:i a" }}
      {% endif %}
      <br>
      Tags: {{ task.tags.all|join:", " }}
      <a href="{% url 'todo:task-update' pk=task.pk %}">Update</a> |
      <a href="{% url 'todo:task-delete' pk=task.pk %}">Delete</a> |

    {% endfor %}

  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}
